* {
    box-sizing: border-box;
}

body {
    width: 1300px;   
    margin-left: auto;
    margin-right: auto;
}

/* header */

header {
    width: 1300px;
    height: 73px;
    background-color: #8c0a0d;
    padding-top: 15px;
    padding-left: 68px;
}

.header-logo-block {
    display: inline-block;
    vertical-align: middle;
    width: 177px;
    height: 41px;
}

/* navigation */

.about {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 24px;
    color: #ffe394;
    font-weight: bold;
    font-family: "Minion Pro";
    text-decoration: none;
    margin-left: 125px;
}

.news {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 24px;
    color: #fcc57e;
    font-weight: bold;
    font-family: "Minion Pro";
    text-decoration: none;
    margin-left: 30px;
}

.shop {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 24px;
    color: #fbc37a;
    font-weight: bold;
    font-family: "Minion Pro";
    text-decoration: none;
    margin-left: 30px;
}

.projects {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 24px;
    color: #f8bd6f;
    font-weight: bold;
    font-family: "Minion Pro";
    text-decoration: none;
    margin-left: 30px;    
}

.career {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 24px;
    color: #faba67;
    font-weight: bold;
    font-family: "Minion Pro";
    text-decoration: none;
    margin-left: 30px;
}

.contacts {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 24px;
    color: #f9bd6f;
    font-weight: bold;
    font-family: "Minion Pro";
    text-decoration: none;
    margin-left: 30px;
}

/* language settings */

.language-icon-block {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 90px;
}

.language-button-block {
    display: inline-block;
    vertical-align: bottom;
}

.language-button {
    background-color: #8c0a0d;
    border: 0;
    font-size: 17px;
    line-height: 24px;
    color: #f5b765;
    font-weight: bold;
    font-family: "Minion Pro";
}

/* main block */

main {
    background-image: url(./img/background-image.png);
    width: 1300px;
    padding-top: 25px;
}

/* gallery block */

.gallery-block {
    width: 1170px;
    height: 335px;
    background-image: url(./img/main-picture.png);
    margin-left: auto;
    margin-right: auto;
}

.gallery-heading {
    font-size: 60px;
    line-height: 24px;
    color: #35040c;
    font-family: "Bell";
    text-align: center;
    padding-top: 40px;
}

/* gallery buttons */

.gallery-button-block {
    text-align: center;
    margin-top: 40px;
}

.gallery-button {
    width: 189px;
    height: 42px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fd8a16;
    border-bottom-width: 5px;
    background-color: #f6cc79;
    font-size: 24px;
    line-height: 24px;
    color: #030303;
    font-weight: bold;
    font-family: "Minion Pro";
}

.thumb-buttons {
    display: inline-block;
    vertical-align: middle;
}

.left-button {
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
    margin-left: 28px;
}

.right-button {
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
    margin-left: 975px;
}

.gallery-items {
    display: inline-block;
    vertical-align: bottom;
    width: 66px;
    margin-left: 555px;
    margin-top: 100px;
}

/* articles block */

.articles-block {
    width: 1170px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.articles-block .article:last-child {
    margin-right: 0;
}

.article {
    display: inline-block;
    vertical-align: top;
    width: 284px;
    margin-right: 7px;
}

.article-heading {
    font-size: 18px;
    line-height: 24px;
    color: #060606;
    font-weight: bold;
    font-family: "Minion Pro";
    height: 110px;
}

.article-content {
    font-size: 16px;
    line-height: 24px;
    color: #010101;
    font-family: "Minion Pro";
}

/* footer */

footer {
    width: 1300px;
    height: 73px;
    background-color: #8c0a0d;
    padding-top: 12px;
}

.footer-link-block {
    display: inline-block;
    vertical-align: bottom;
    width: 192px;
    margin-left: 68px;
}

.footer-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #fbc86b;
    font-weight: bold;
    font-family: "Minion Pro";
}

.address-block {
    display: inline-block;
    vertical-align: bottom;
    width: 155px;
    margin-left: 102px;
}

.address {
    font-size: 14px;
    line-height: 24px;
    color: #f8c669;
    font-weight: bold;
    font-family: "Minion Pro";
}

.phone-number-block {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    line-height: 24px;
    color: #f4ab64;
    font-weight: bold;
    font-family: "Minion Pro";
    text-align: right;
    width: 155px;
    margin-left: 120px;
}

.phone-number {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #f4ab64;
    font-weight: bold;
    font-family: "Minion Pro";   
}

.email-block {
    display: inline-block;
    vertical-align: bottom;
    width: 138px;
    font-size: 14px;
    line-height: 24px;
    color: #f8b168;
    font-weight: bold;
    font-family: "Minion Pro";
    margin-left: 150px;
}

.email {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #f8b168;
    font-weight: bold;
    font-family: "Minion Pro";
}

.social-media-block {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 75px;
}

.social-media {
    background: transparent;
    margin-right: 7px;
}