* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    height: 45px;
    width: 100%;
    background-color: #4CB1CA;
}

/*header language*/
.header-language {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #bef2ff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-left: 222px;
    margin-top: 12px;
}

.header-currency {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #bef2ff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-left: 17px;
    margin-top: 12px;
}

.language-button {
    display: inline-block;
    vertical-align: middle;
    border: none;
    padding: 2px;
    background: transparent;
    font-size: 13px;
    color: #e7f9fd;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.header-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}

button {
    transition: 1s;
}

button:hover {
    transform: scale(.9);
    cursor: pointer;
}


/*header links*/ 
.header-links-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 465px;
    margin-top: 11px;
}

header a {
    text-decoration: none; 
    font-size: 13px;
    color: #e7f9fd;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

a:active {
    opacity: .6;
}

a:hover {
    opacity: .6;
}

header a::after {
    content: "|";
    margin-left: 13px;
    margin-right: 9px;
}

header a:last-of-type::after {
    content: "";
}

/*navigation*/
nav {
    display: inline-block;
    vertical-align: middle;
    height: 109px;
}

.name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 222px;
    margin-top: 32px;
}

.name-link {
    text-decoration: none;
    font-size: 36px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #656565;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.name-link:hover {
    opacity: 1;
}

.navigation-block {
    display: inline-block;
    vertical-align: middle;
    width: 370px;
    height: 10px;
    margin-top: 27px;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #656565;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-right: 16px;
}

/*search form*/
.search-navigation {
    display: inline-block;
    vertical-align: middle;
}

.search-form {
    display: inline-block;
    vertical-align: middle;
    margin-left: 133px;
    position: relative;
}

.search-form input {
    display: inline-block;
    vertical-align: middle;
    width: 168px;
    height: 29px;
    border: 1px solid #c6c6c6;
    padding: 12px;
    font-size: 13px;
    color: #b7b7b7;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.search-form button {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    width: 15px;
    height: 15px;
    border: none;
    background: transparent;
    padding: 0;
    margin-left: -24px;
    margin-top: 7px;
    cursor: pointer;
}

/*buyers tools*/
.buyers-tools {
    display: inline-block;
    vertical-align: middle;
    background-color: #7DB122;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-left: 11px;
}

.buyers-tools:last-of-type {
    margin-left: 1px;
}

.buyers-tools-button {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 17px;
    margin-top: 11px;
    margin-left: 9px;
}

.cart {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #656565;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-left: 12px;
}

/*gallery*/
.gallery {
    width: 100%;
    height: 560px;
    background-image: url(./img/gallery-img.png);
    background-repeat: no-repeat;
}

.gallery-button {
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    margin-left: 130px;
    margin-top: 250px;
    cursor: pointer;
}

.gallery-button:last-of-type {
    margin-left: 1110px;
}

/*main*/
main {
    width: 970px;
    display: inline-block;
    vertical-align: middle;
}

.featured-products {
    width: 800px;
    height: 1012px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 222px;
}

.staff-pick {
    width: 800px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 222px;
}

main h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #635f57;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-top: 47px;
    margin-bottom: 23px;
    margin-left: 222px;
}

/*item style*/
.item-block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 233px;
    height: 318px;
    margin-right: 27px;
    margin-bottom: 29px;
    box-shadow: 0 0 2px 2px #F5F5F5;
    transition: 1s;
}

.item-block:hover {
    transform: scale(1.05);
}

.product-image {
    width: 215px;
    height: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

main span {
    font-size: 14px;
    line-height: 22px;
    color: #464148;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    width: 150px;
    margin-top: 15px;
    margin-left: 9px;
}

main span:last-of-type {
    color: #7DB122;
    margin-top: -2px;
    font-size: 16px;
}

main div button {
    position: absolute;
    background-color: #7DB122;
    border: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-top: 15px;
    margin-left: 12px;
}

/*lables*/
.new-item {
    width: 97px;
    position: absolute;
    top: -4px;
    right: -4px;
}

.sale-item {
    width: 97px;
    position: absolute;
    top: -4px;
    left: -4px;
}

.discount::before {
    content: "$460";
    font-size: 14px;
    line-height: 22px;
    color: #464148;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: line-through;
    margin-right: 3px;
}

/*aside block*/
aside {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 230px;
    margin-top: 49px;
    margin-left: 45px;
}

.featured-glass {
    height: 458px;
    box-shadow: 0 0 2px 2px #F5F5F5;
    border-top: solid 4px #4CB1CA;
}

aside h2 {
    font-size: 24px;
    font-family: "OpenSans", sans-serif;
    color: #635f57;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 38px;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.check {
    width: 132px;
    height: 44px;
    position: absolute;
    margin-top: -65px;
    margin-left: 49px;
    border: none;
    background-color: #4CB1CA;
    color: #ffffff;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    line-height: 1.571;  
}

.aside-gallery {
    height: 38px;
    width: 230px;
    box-shadow: 0 0 2px 2px #F5F5F5;
    text-align: center;
    padding: 9px;
}

.gallery-point {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    border: none;
    background-color: #7DB122;
    margin-left: 4px;
}

.gallery-point:first-of-type {
    background-color: #4CB1CA;
    margin-left: 0px;
}

.gallery-point:hover {
    background-color: #4CB1CA;
}

/*signup form*/
.form {
    width: 230px;
    height: 290px;
    margin-top: 25px;
    box-shadow: 0 0 2px 2px #F5F5F5;
    border-top: solid 4px #4CB1CA;
}

.form h2 {
    margin-bottom: 12px;
    margin-top: 22px;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #696969;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 0;
}

aside input {
    display: block;
    width: 188px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    border: 1px solid #c6c6c6;
}

.subscribe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 115px;
    height: 47px;
    border: none;
    background-color: #7DB122;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-top: 15px;
    margin-bottom: 31px;
}

/*info block*/
.cta-block {
    height: 106px;
    margin-top: 83px;
    background-color: #4CB1CA;
}

.cta-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 1060px;
}

.cta-icon {
    display: inline-block;
    vertical-align: middle;
    width: 68px;
    height: 68px;
    margin-top: 19px;
}

.cta-icon:last-of-type {
    margin-left: 85px;
    width: 66px;
    height: 66px;
}

.cta-block span {
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-top: 19px;
    margin-left: 16px;
}

.info-block {
    height: 350px;
    background-color: #39A0B9;
}

.info-block-content {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

/*facebook*/
.facebook {
    width: 236px;
    margin-top: 49px;
    display: inline-block;
    vertical-align: middle;
}

.heading {
    font-size: 20px;
    text-transform: uppercase;
    color: #f5f5f5;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.5px;
    opacity: 0.9;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin-bottom: 20px;
}


.inscription {
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.members {
    height: 125px;
    border-top: solid 1px #4CB1CA;
    border-bottom: solid 1px #4CB1CA;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 2px;
}

/*twitter*/
.twitter {
    width: 260px;
    height: 225px;
    margin-top: 49px;
    margin-left: 55px;
    display: inline-block;
    vertical-align: top;
}

.twitter p {
    display: inline-block;
    vertical-align: top;
    width: 165px;
    text-align: left;
    margin-left: 12px;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.reviews {
    margin-top: 10px;
}

.reviews span {
    opacity: .6;
}

.twitter img {
    display: inline-block;
    vertical-align: top;
    width: 46px;
}

/*information*/
.information {
    display: inline-block;
    vertical-align: top;
    margin-top: 49px;
    margin-left: 40px;
}

ul {
    padding: 0;
    margin-left: 7px;
    margin-top: 6px;
}

li {
    padding-left: 12px;
    font-size: 13px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

li::marker {
    content: "›";
    font-size: 16px;
}

ul a {
    text-decoration: none;
    color: #ffffff;
}

/*contacts*/
.contacts {
    display: inline-block;
    vertical-align: top;
    width: 199px;
    padding-bottom: 8px;
    margin-top: 49px;
    margin-left: 70px;
    border-bottom: solid 1px #4CB1CA;
}

.contacts span {
    margin-bottom: 25px;
}

.contacts a, address {
    text-decoration: none;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-left: 2px;
}

.social-media-links {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -200px;
}

.social-media-links img {
    width: 40px;
    margin-right: 5px;
}

/*footer*/
footer {
    height: 67px;
    background-color: #0B4B5A;
    padding-top: 25px;
}

.footer-content {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

footer span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 19px;
    color: #8adcf0;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.footer-links-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 315px;
}

footer a {
    text-decoration: none;
    font-size: 13px;
    line-height: 19px;
    color: #8adcf0;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}    

footer a::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
}

footer a:last-of-type::after {
    content: "";
}
