* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "adobeinvisfont", sans-serif;
}

/* header */

header {
    background-color: #2D7053;
    width: 750px;
    height: 240px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 40px;
}

.logo-block {
    display: inline-block;
    vertical-align: middle;
    width: 190px;
}

.name-block {
    display: inline-block;
    vertical-align: middle;
    width: 385px;
    color: white;
    font-size: 30px;
}

.nav-block {
    display: inline-block;
    vertical-align: middle;
}

/* cta block */

.cta-block {
    background-image: url(./img/psycho-room.png), url(./img/psycho-room-shadow.png);
    text-align: center;
    width: 750px;
    height: 466px;
}

.cta-button {
    background-color: #CB9223;
    color: white;
    border: 0px;
    width: 345px;
    height: 77px;
    font-size: 20px;
    margin-top: 345px;
}

/* ifo block */

.info-block {
    font-size: 24px;
    width: 750px;
}

.psycho-portrait {
    display: inline-block;
    vertical-align: middle;
    width: 255px;
    height: 260px;
    border-radius: 50%;
    margin-top: 75px;
    margin-left: 35px;
}

.info-heading {
    display: inline-block;
    vertical-align: middle;
    width: 260px;
    margin-left: 65px;
}

.name {
    font-size: 36px;
    width: 320px;
}

.info-text {
    width: 650px;
    margin-top: 46px;
    margin-left: 44px;
}

/* list */

.reasons {
    font-size: 36px;
}

.list {
    margin-top: 46px;
    margin-left: 44px;
}

.list-style {
    list-style-type: '-';
    padding: 0;
    margin: 0;
    margin-top: 43px;
}

.cta-button-info-block {
    text-align: center;
}

.cta-button-info {
    background-color: #CB9223;
    color: white;
    border: 0px;
    width: 345px;
    height: 77px;
    font-size: 20px;
    margin-top: 42px;
    margin-bottom: 47px;
    text-align: center;
}

/* footer */

footer {
    background-color: #888888;
    width: 750px;
    height: 156px;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 40px;
}

.footer-logo-block {
    display: inline-block;
    vertical-align: middle;
    width: 99px;
}

.footer-logo {
    width: 99px;
}

.address {
    display: inline-block;
    vertical-align: middle;
    width: 199px;
    margin-left: 200px;
    margin-top: 66px;
    color: white;
    font-size: 15px;
}

.contacts {
    display: inline-block;
    vertical-align: middle;
    margin-top: 34px; 
    margin-left: 30px;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
